---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";

const pageTitle = "Blog";
const allBlogs = (await getCollection("blog")).sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});
---

<BaseLayout pageTitle={pageTitle}>
  <SectionLayout title={pageTitle}>
    <p class="bg-aside p-3 rounded-md">I want to get good at explaining my thoughts.<br> Writing can get me there.</p>

    {
      allBlogs.map((blog) => (
        <BlogCard blog={{
          ...blog.data,
          link: `/blog/${blog.id}`,
        }} />
      ))
    }
  </SectionLayout>
</BaseLayout>
