@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme{
  --color-background: #000000;
  --color-primary: #ffffffde;
  --color-secondary: #3c83f6;
  --color-success: #041f09;
  --color-inline-code: #eb5757;
  --color-hr: #6a7282;
  --color-aside: #18181b;

  /* Callout colors */
  --color-callout-note-bg: var(--color-aside);
  --color-callout-note-text: var(--color-primary);

  --color-callout-tip-bg: rgb(20 83 45 / 0.3);
  --color-callout-tip-text: #86efac;

  --color-callout-warning-bg: rgb(113 63 18 / 0.3);
  --color-callout-warning-text: #fde047;

  --color-callout-danger-bg: rgb(76 5 25 / 0.4);
  --color-callout-danger-text: #fb464c;

  --color-callout-success-bg: var(--color-success);
  --color-callout-success-text: #44cf6e;

  --color-callout-bug-bg: rgb(80 7 36 / 0.3);
  --color-callout-bug-text: #f9a8d4;

  --color-callout-summary-bg: rgb(49 46 129 / 0.3);
  --color-callout-summary-text: #c7d2fe;

  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--color-primary);
    --tw-prose-headings: white;
    --tw-prose-links: var(--color-secondary);
    --tw-prose-bold: white;
    --tw-prose-counters: var(--color-primary);
    --tw-prose-bullets: var(--color-primary);
    --tw-prose-quotes: var(--color-primary);
    --tw-prose-quote-borders: var(--color-secondary);
    --tw-prose-captions: var(--color-primary);
    --tw-prose-code: var(--color-inline-code);
    --tw-prose-pre-code: var(--color-primary);
    --tw-prose-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-hr: var(--color-hr);
  }

  .prose aside {
    @apply bg-aside p-3 rounded-lg;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-primary bg-background
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white font-mono font-bold
}

.link{
  @apply text-secondary;
}

.secondary-link{
  @apply text-gray-400 hover:text-gray-50 transition-[color];
}

.active-secondary-link{
  @apply text-white;
}

.author-link{
  @apply border-b-2 border-gray-600 transition-[border-color] hover:border-gray-300
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
