@import "tailwindcss";

@theme{
  --color-background: #000000;
  --color-primary: #ffffffeb;
  --color-secondary: #3c83f6;
  
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply text-primary bg-background
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white
}

.link{
  @apply text-secondary;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff") format("woff")
}
