@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme{
  --color-background: #000000;
  --color-primary: #ffffffde;
  --color-secondary: #3c83f6;
  --color-inline-code: #eb5757;
  --color-hr: #6a7282;
  --color-aside: #18181b;
  
  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--color-primary);
    --tw-prose-headings: white;
    --tw-prose-links: var(--color-secondary);
    --tw-prose-bold: white;
    --tw-prose-counters: var(--color-primary);
    --tw-prose-bullets: var(--color-primary);
    --tw-prose-quotes: var(--color-primary);
    --tw-prose-quote-borders: var(--color-secondary);
    --tw-prose-captions: var(--color-primary);
    --tw-prose-code: var(--color-inline-code);
    --tw-prose-pre-code: var(--color-primary);
    --tw-prose-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-hr: var(--color-hr);
  }

  .prose aside {
    @apply bg-aside p-3 rounded-md;
  }
}

body {
  @apply text-primary bg-background
}

h1, h2, h3, h4, h5, h6 {
  @apply text-white font-mono font-bold
}

.link{
  @apply text-secondary;
}

.secondary-link{
  @apply text-gray-400 hover:text-gray-50 transition-[color];
}

.active-secondary-link{
  @apply text-white;
}

.author-link{
  @apply border-b-2 border-gray-600 transition-[border-color] hover:border-gray-300
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff") format("woff")
}

@font-face {
  font-family: "Inter Bold";
  src: url("/fonts/Inter-Bold.woff") format("woff")
}
