---
import SectionLayout from "../layouts/SectionLayout.astro"
import Social from "./Social.astro"
---

<SectionLayout title="Ashwin Anil">
  <p>
    Filling the void by <a href="/projects" class="link">building</a> things on the internet.
  </p>

  <p>
    Currently working as a Full Stack Software Engineer @ <a href="https://bravestudio.co.jp/" target="_blank" rel= "noopener noreferrer" class="link">bravestudio Inc.</a>
  </p>

  <p>When weekdays make me more typical, <br>
    I use weekends to embrace and fuel my distinctiveness.</p>
  <Social/>
</SectionLayout>

