---
import SectionLayout from "../layouts/SectionLayout.astro"
import GithubContributions from "./GithubContributions.astro"
import Social from "./Social.astro"
---

<SectionLayout title="Ashwin Anil">
  <p>
    I am a <a href="/projects#mark-P" class="link">failed startup</a> founder developing agency and taste by <a href="/projects" class="link">building</a> things on the internet.
  </p>

  <p>
    Currently building <a href="https://www.actu-al.co/en" target="_blank" rel="noopener noreferrer" class="link">Actual Inc.</a>
  </p>

  <p>My focus is to find problems and solve them. I currently do Full Stack Web Development and App Development (Cross Platform).</p>

  <div class="prose">
    <blockquote>
      "Action produces information"
    </blockquote>
  </div>

  <p>
    The above quote is from a <a href="https://x.com/brian_armstrong/status/1990073384022020290?s=20" target="_blank" rel="noopener noreferrer" class="link">tweet</a> by <a href="https://x.com/brian_armstrong/status/1990073384022020290?s=20" target="_blank" rel="noopener noreferrer" class="link">Brian Armstrong</a> (Coinbase)
  </p>

  <GithubContributions />
  <Social/>
</SectionLayout>

