---
import SectionLayout from "../layouts/SectionLayout.astro"
import GithubContributions from "./GithubContributions.astro"
import Social from "./Social.astro"
---

<SectionLayout title="Ashwin Anil">
  <p>
    Filling the void by <a href="/projects" class="link">building</a> things on the internet.
  </p>

  <p>
    Currently building @ <a href="https://www.actu-al.co/en" target="_blank" rel= "noopener noreferrer" class="link">ACTUAL Inc.</a>
  </p>

  <p>When weekdays make me more typical, <br>
    I use weekends to embrace and fuel my distinctiveness.</p>

  <GithubContributions />
  <Social/>
</SectionLayout>

