---
const { experience } = Astro.props
---

<div class="flex flex-col">
  <span class="text-white text-lg">
    {experience.title} - 
    <a 
      href={experience.companyLink}
      target="_blank"
      class="link" 
    >{experience.company}</a>
  </span>
  <span class="text-sm flex gap-x-2 text-gray-400">
    {experience.startDate} - {experience.endDate ?? "Present"}
  </span>
</div>