---
---

<footer class="flex justify-between items-center py-4">
  <p class="text-center text-xs text-gray-400">
    © 2025 Ashwin Anil
  </p>
  <div class="flex items-center gap-4">
    <a href="https://github.com/ashwin776/portfolio" class="font-mono text-xs secondary-link" target="_blank" rel="noopener noreferrer">Source</a>
    <a href="/rss.xml" class="font-mono text-xs secondary-link" target="_blank" rel="noopener noreferrer">RSS</a>
  </div>
</footer>