---
---

<footer class="flex justify-between items-center py-4">
  <p class="text-center text-xs text-gray-400">
    © 2025 Ashwin Anil
  </p>
  <a href="https://github.com/ashwin776/portfolio" class="font-mono text-xs secondary-link" target="_blank" rel="noopener noreferrer">Source</a>
</footer>