---
import NavLink from "./NavLink.astro"

const { pageTitle } = Astro.props

const navLinks = [
  { label: "~", href: "/", pageTitle: "home" },
  { label: "./projects", href: "/projects", pageTitle: "projects" },
  { label: "./blog", href: "/blog", pageTitle: "blog" },
  { label: "./work", href: "/work", pageTitle: "work" }
]
---

<header>
  <nav class="flex gap-x-6">
    {
      navLinks.map(link => (
        <NavLink 
          link={link} 
          isActive={pageTitle.toLowerCase() === link.pageTitle.toLowerCase()}
        />
      ))
    }
  </nav>
</header>