---
import NavLink from "./NavLink.astro"

const { pageTitle } = Astro.props

const navLinks = [
  { label: "~", href: "/", pageTitle: "home" },
  { label: "./projects", href: "/projects", pageTitle: "projects" },
  { label: "./blog", href: "/blog", pageTitle: "blog" },
  { label: "./notes", href: "/notes", pageTitle: "notes" },
]
---

<header>
  <nav class="flex gap-x-6">
    {
      navLinks.map(link => (
        <NavLink 
          link={link} 
          currentPageTitle={pageTitle}
        />
      ))
    }
  </nav>
</header>