---
import NavLink from "./NavLink.astro"

const navLinks = [
  { label: "~", href: "/", pageTitle: "home" },
  { label: "./projects", href: "/projects", pageTitle: "projects" },
  { label: "./blog", href: "/blog", pageTitle: "blog" }
]
---

<header>
  <nav class="flex gap-x-6">
    {
      navLinks.map(link => (
        <NavLink 
          link={link} 
          isActive={Astro.url.pathname === link.href}
        />
      ))
    }
  </nav>
</header>