---
const title = "Ashwin Anil"
---

<header class="flex justify-between items-center mb-10">
  <h1 class="text-2xl">
    <a href="/">{title}</a>
  </h1>
  <nav class="flex gap-x-4">
    <a href="/blog" class="link">./blog</a>
    <a href="/projects" class="link">./projects</a>
    <a href="/notes" class="link">./notes</a>
  </nav>
</header>