---
interface Props {
  headings: { depth: number; slug: string; text: string }[];
}

const { headings } = Astro.props;
---

{headings.length > 0 && (
  <details class="lg:hidden border border-gray-800 rounded-md">
    <summary class="text-sm font-bold cursor-pointer px-4 py-3 select-none">
      Table of Contents
    </summary>
    <ul class="flex flex-col gap-y-2 text-sm px-4 pb-4 pt-2">
      {headings.map((heading) => (
        <li style={`margin-left: ${(heading.depth - 2) * 12}px`}>
          <a
            href={`#${heading.slug}`}
            class="toc-link text-gray-400 hover:text-secondary transition-colors duration-200"
          >
            {heading.text}
          </a>
        </li>
      ))}
    </ul>
  </details>
)}
