---
const { link, currentPageTitle } = Astro.props
const isActive = currentPageTitle.toLowerCase() === link.pageTitle
---

<a href={link.href} class={`secondary-link ${isActive ? "active-secondary-link" : ""}`}>{link.label}</a>