---
const { link } = Astro.props;
---

<a 
  href={link}
  target="_blank"
  class="inline-flex items-center justify-center transition-colors border border-gray-600 bg-background hover:bg-[#151515] rounded-md cursor-pointer p-2"
>
  <slot />
</a>