---
const links = [
  {
    name: "resume",
    url: "https://drive.google.com/file/d/1RrGpYs-FxxqcsasbdB9fn03Hb6gcWRHt/view?usp=sharing",
  },
  {
    name: "github",
    url: "https://www.github.com/ASHWIN776"
  },
  {
    name: "twitter",
    url: "https://x.com/Ashwin1Anil"
  },
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/ashwin-anil-097161190/"
  },
  {
    name: "mail",
    url: "mailto:anilashwin2001@gmail.com"
  }
]
---

<div class="inline-flex gap-x-6 md:justify-center">
  {
    links.map(link => (
      <a 
        href={link.url} 
        target="_blank" 
        class="secondary-link"
      >
        {link.name}
      </a>
    ))
  }
</div>