---
import Github from "./icons/Github.astro"
import Linkedin from "./icons/Linkedin.astro"
import Mail from "./icons/Mail.astro"
import Twitter from "./icons/Twitter.astro"
import ResourceLink from "./ResourceLink.astro"

const links = [
  {
    name: "github",
    url: "https://www.github.com/ASHWIN776",
    icon: Github
  },
  {
    name: "twitter",
    url: "https://x.com/Ashwin1Anil",
    icon: Twitter
  },
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/ashwin-anil-097161190/",
    icon: Linkedin
  },
  {
    name: "mail",
    url: "mailto:anilashwin2001@gmail.com",
    icon: Mail
  }
]
---

<div class="inline-flex gap-x-6 md:justify-center">
  {
    links.map(link => (
      <ResourceLink link={link.url}>
        <link.icon />
      </ResourceLink>
    ))
  }
</div>