---
import { getCollection } from "astro:content"
import ResourceLink from "./ResourceLink.astro"
import type { AstroInstance } from "astro"

// Get socials collection
const socials = await getCollection("socials")

// Import all icons
const icons = import.meta.glob("/src/components/icons/*.astro", { eager: true }) as Record<string, AstroInstance>

const socialLinks = socials.map(social => ({
  name: social.data.name,
  url: social.data.url,
  icon: icons[social.data.iconPath] 
}))
---
<div class="inline-flex gap-x-6 md:justify-center">
  {
    socialLinks.map(link => (
      <ResourceLink link={link.url}>
        {link.icon ? <link.icon.default /> : link.name}
      </ResourceLink>
    ))
  }
</div>