---
const { name, lowercase = false} = Astro.props;
const formattedName = lowercase ? name.toLowerCase() : name;
---

<span class="text-background bg-white px-3 py-1 text-xs rounded-md font-bold">{formattedName}</span>